* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: radial-gradient(circle 700px at center, #423503 0%, #000 70%);
    color: #fff;
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    position: relative;
}

.navbar::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 20px;
    background: linear-gradient(
        to bottom,
        rgba(245, 196, 0, 0.25),
        rgba(245, 196, 0, 0)
    );
    pointer-events: none;
}



.logo {
    font-size: 22px;
    font-weight: bold;
    color: #f5c400;
}

.logo span {
    color: #fff;
}

.navbar nav a {
    margin-right: 25px;
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
}

.navbar nav a:hover {
    color: #fff;
}

.hire-btn {
    background: #f5c400;
    color: #000;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.hire-btn:hover {
    transform: scale(1.05);
}

.hero {
    text-align: center;
    margin-top: 120px;
    padding: 0 20px;
}

.subtitle {
    letter-spacing: 3px;
    font-size: 12px;
    color: #f5c400;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 64px;
    line-height: 1.2;
    margin-bottom: 25px;
}

.highlight {
    color: #f5c400;
}

.muted {
    color: #9a9a9a;
}

.description {
    color: #aaa;
    max-width: 600px;
    margin: 0 auto 40px;
    font-size: 16px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.btn {
    padding: 14px 28px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.primary {
    background: #f5c400;
    color: #000;
}

.primary:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 30px rgba(245,196,0,0.5);
}

.secondary {
    background: transparent;
    border: 1px solid #555;
    color: #fff;
}

.secondary:hover {
    border-color: #f5c400;
    color: #f5c400;
    transform: translateY(-4px);
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    background: #111;
    border-radius: 12px;
    list-style: none;
    padding: 10px 0;
    min-width: 190px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    box-shadow: 0 15px 40px rgba(0,0,0,0.6);
}

.dropdown-menu li a {
    display: block;
    padding: 12px 20px;
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
}

.dropdown-menu li a:hover {
    background: #1f1f1f;
    color: #f5c400;
}

.dropdown.active .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}
