* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    min-height: 100vh;
    background: radial-gradient(circle at center, #2b2408 0%, #0b0b0b 60%);
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
}

.logo {
    font-size: 22px;
    font-weight: 800;
    color: #fbbf24;
}

.logo span {
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #cfcfcf;
    font-weight: 400;
    transition: 0.3s;
}

nav a:hover {
    color: #fff;
}

.hero {
    text-align: center;
    padding: 120px 20px 40px;
}

.subtitle {
    color: #fbbf24;
    letter-spacing: 4px;
    font-size: 12px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 64px;
    font-weight: 800;
    line-height: 1.2;
}

.hero h1 span {
    color: #fbbf24;
}

.muted {
    color: #9ca3af;
}

.description {
    max-width: 600px;
    margin: 30px auto;
    color: #b5b5b5;
    font-size: 16px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.btn {
    padding: 14px 26px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn-yellow {
    background: #fbbf24;
    color: #000;
}

.btn-yellow:hover {
    background: #facc15;
}

.btn-outline {
    background: transparent;
    border: 1px solid #444;
    color: #fff;
}

.btn-outline:hover {
    border-color: #fbbf24;
    color: #fbbf24;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    width: 360px;
    background: linear-gradient(180deg, #111, #0b0b0b);
    border-radius: 14px;
    padding: 12px;
    display: none;
    border: 1px solid #222;
    box-shadow: 0 20px 40px rgba(0,0,0,.7);
    z-index: 100;
}

.dropdown-menu.active {
    display: block;
}

.dropdown-menu li {
    list-style: none;
    margin-bottom: 8px;
}

.dropdown-menu li:last-child {
    margin-bottom: 0;
}

.dropdown-menu a {
    display: block;
    padding: 14px 16px;
    border-radius: 10px;
    text-decoration: none;
    color: #e5e5e5;
    transition: 0.25s;
}

.dropdown-menu a strong {
    display: block;
    font-size: 14px;
    color: #fbbf24;
}

.dropdown-menu a span {
    font-size: 12px;
    color: #9ca3af;
}

.dropdown-menu a:hover {
    background: #fbbf24;
    color: #000;
}

.dropdown-menu a:hover strong,
.dropdown-menu a:hover span {
    color: #000;
}


.scroll {
    margin-top: 80px;
    font-size: 24px;
    color: #aaa;
}


@media (max-width: 768px) {
.navbar {
    padding: 20px;
}

.hero h1 {
    font-size: 42px;
}

.buttons {
    flex-direction: column;
    align-items: center;
}

.dropdown-menu {
    width: 90vw;
}
}
